body{
    background-color:#F3F5FC;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* == == */
}

#logo-alura{
    top: 40px;
    left: 40px;
}

header {
    height: 10vh;
    background-color: aquamarine; /* === */
}

main{
    margin: 0 auto;
    max-width: 1024px;
    height: 80vh;
    background-color: antiquewhite; /* === */
 
}

footer{
    background-color: #333;
    color: rgb(144, 20, 20);
    height: 10vh; 
    text-align: center;
    background-color: burlywood; /* === */ 
}

.contenedor-principal{
    background-color: aqua;
    color: blue;

}

.contenedor-entrada{
    background-color: blueviolet;
    border-radius: 10px;
}

.contenedor-resultado{
    background-color: aquamarine;
    border-radius: 10px;
}

